
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.macbook-pro-7-fLT {
  position: relative;
  overflow: hidden;
  background: linear-gradient(180deg, #183cb6 -0%, #c7005f 100%);
  width: 100%;
  height: 90rem;

  .rectangle-1-cFh {
    height: 139.9932rem;
    position: absolute;
    left: 0;
    top: 0;
    object-fit: contain;
    vertical-align: top;
    width: 130.5033rem;
  }
  .vector-AHD {
    top: 54.9882rem;
    object-fit: contain;
    vertical-align: top;
    width: 75.4752rem;
    height: 75.4752rem;
    position: absolute;
    left: 114.9883rem;
  }
  .vector-ukb {
    object-fit: contain;
    vertical-align: top;
    width: 81.785rem;
    height: 81.785rem;
    position: absolute;
    left: 41.5168rem;
    top: 75.2615rem;
  }
  .vector-rvj {
    position: absolute;
    left: 119.6rem;
    top: 0;
    object-fit: contain;
    vertical-align: top;
    width: 89.9rem;
    height: 89.9rem;
  }
  .rectangle-2-cf1 {
    left: 29.9rem;
    top: 83.5rem;
    object-fit: contain;
    vertical-align: top;
    border-radius: 0.3rem;
    width: 2.8rem;
    height: 2.8rem;
    position: absolute;
  }
  .frame-170-9uq {
    height: 85.1666rem;
    position: absolute;
    left: 0;
    top: 2.3rem;
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 146.0272rem;

    .frame-150-JGw {
      margin: 0rem 26.764rem 3.2rem 26.764rem;
      width: calc(100% - 53.5272rem);
      row-gap: 1.6rem;
      align-items: center;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;

      .choose-the-program-coR {
        color: #000000;
        font-family: B612, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        font-size: 3.3rem;
        font-weight: 700;
        line-height: 1.2000000694;
      }
      .choose-the-payment-option-that-works-best-for-you-and-start-your-fitness-journey-today-jt3 {
        text-align: center;
        font-size: 2.3rem;
        font-weight: 400;
        line-height: 1.2000000166;
        color: #8b8b8b;
        font-family: B612, 'Source Sans Pro';
        flex-shrink: 0;
        max-width: 92.5rem;
      }
      .frame-154-qRH {
        display: flex;
        column-gap: 1.6rem;
        background-color: #ffffff;
        flex-shrink: 0;
        box-sizing: border-box;
        width: calc(100% - 34.8rem);
        height: 7.1rem;
        align-items: center;
        margin: 0 17.4rem;
        padding: 0.8rem;

        .frame-153-MeX {
          font-weight: 400;
          white-space: nowrap;
          display: flex;
          align-items: center;
          background-color: #ffffff;
          flex-shrink: 0;
          width: 16.6rem;
          text-align: center;
          line-height: 1.2000000602;
          color: #000000;
          box-sizing: border-box;
          height: 100%;
          border: solid 0.1rem #eaeaea;
          font-size: 1.9rem;
          font-family: B612, 'Source Sans Pro';
          justify-content: center;
        }
        .frame-152-3GT {
          text-align: center;
          font-weight: 400;
          justify-content: center;
          align-items: center;
          background-color: #1cd15d;
          height: 100%;
          line-height: 1.2000000602;
          font-family: B612, 'Source Sans Pro';
          white-space: nowrap;
          display: flex;
          flex-shrink: 0;
          width: 18.7rem;
          font-size: 1.9rem;
          color: #ffffff;
        }
        .frame-154-M2F {
          height: 100%;
          font-weight: 400;
          font-family: B612, 'Source Sans Pro';
          border: solid 0.1rem #eaeaea;
          text-align: center;
          color: #000000;
          display: flex;
          align-items: center;
          box-sizing: border-box;
          background-color: #ffffff;
          font-size: 1.9rem;
          line-height: 1.2000000602;
          white-space: nowrap;
          width: 17.6rem;
          justify-content: center;
          flex-shrink: 0;
        }
      }
    }
    .frame-151-R27 {
      width: 100%;
      height: 62.0666rem;
      display: flex;
      align-items: flex-start;
      flex-shrink: 0;

      .frame-163-AVV {
        align-items: center;
        box-shadow: 0 0.4rem 0.8rem rgba(0, 0, 0, 0.1000000015);
        flex-shrink: 0;
        margin-right: 3.2rem;
        box-sizing: border-box;
        padding: 3.757rem 5.01rem 3.757rem 5.01rem;
        width: 46.5424rem;
        display: flex;
        flex-direction: column;
        background-color: #ffffff;

        .frame-165-5MZ {
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          margin-bottom: 5.0098rem;
          width: 100%;
          align-items: center;

          .auto-group-ldl1-Dif {
            box-sizing: border-box;
            padding: 0rem 4.198rem 3.757rem 4.198rem;
            width: 100%;
            align-items: center;
            display: flex;
            flex-direction: column;
            flex-shrink: 0;

            .frame-162-eoy {
              width: calc(100% - 3.0774rem);
              align-items: center;
              display: flex;
              flex-direction: column;
              flex-shrink: 0;
              margin: 0rem 1.539rem 2.505rem 1.539rem;

              .basic-plan-Bou {
                text-align: center;
                font-size: 2.3rem;
                font-weight: 700;
                line-height: 1.2000000166;
                font-family: B612, 'Source Sans Pro';
                flex-shrink: 0;
                margin: 0rem 0rem 1.252rem 0rem;
                white-space: nowrap;
                color: #000000;
              }
              .frame-164-VZh {
                height: 3.1524rem;
                font-weight: 400;
                white-space: nowrap;
                align-items: center;
                font-size: 1.6rem;
                line-height: 1.2000000477;
                font-family: B612, 'Source Sans Pro';
                flex-shrink: 0;
                width: 100%;
                text-align: center;
                justify-content: center;
                color: #000000;
                display: flex;
                background-color: #f8f8f8;
              }
            }
            .frame-155-12F {
              width: 100%;
              display: flex;
              align-items: center;
              flex-shrink: 0;

              .item-800-mXD {
                flex-shrink: 0;
                margin-right: 0.6262rem;
                text-align: center;
                font-size: 4rem;
                font-weight: 700;
                font-family: B612, 'Source Sans Pro';
                line-height: 1.2;
                color: #1cd15d;
                white-space: nowrap;
              }
              .monthly-J1M {
                font-family: B612, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                text-align: center;
                font-size: 3.3rem;
                font-weight: 700;
                line-height: 1.2000000694;
                color: #1cd15d;
              }
            }
          }
          .frame-156-Rbm {
            width: 100%;
            display: flex;
            flex-direction: column;
            flex-shrink: 0;

            .frame-157-z95 {
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
              margin-bottom: 2.5049rem;
              width: 3.7573rem;
              height: 3.7573rem;
            }
            .frame-158-7jV {
              flex-shrink: 0;
              box-sizing: border-box;
              padding: 0.479rem 0rem 0.479rem 0.939rem;
              width: 100%;
              display: flex;
              align-items: center;

              .interface-check-rSB {
                flex-shrink: 0;
                margin: 0rem 2.391rem 0rem 0rem;
                width: 1.9926rem;
                height: 1.3284rem;
                object-fit: contain;
                vertical-align: top;
              }
              .certificate-after-completion-PBD {
                font-family: B612, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                text-align: center;
                font-size: 2.3rem;
                font-weight: 400;
                line-height: 1.2000000166;
                color: #000000;
              }
            }
            .auto-group-bzk5-7N7 {
              display: flex;
              flex-direction: column;
              flex-shrink: 0;
              box-sizing: border-box;
              padding-top: 2.5049rem;
              width: 100%;

              .frame-159-4HM {
                flex-shrink: 0;
                margin: 0rem 5.6rem 2.505rem 0rem;
                box-sizing: border-box;
                padding: 0.479rem 0rem 0.479rem 0.939rem;
                width: calc(100% - 5.6rem);
                display: flex;
                align-items: center;

                .interface-check-mSf {
                  object-fit: contain;
                  vertical-align: top;
                  flex-shrink: 0;
                  margin: 0rem 2.391rem 0rem 0rem;
                  width: 1.9926rem;
                  height: 1.3284rem;
                }
                .high-resolution-videos-tXH {
                  line-height: 1.2000000166;
                  color: #000000;
                  font-family: B612, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                  text-align: center;
                  font-size: 2.3rem;
                  font-weight: 400;
                }
              }
              .frame-160-2dV {
                width: calc(100% - 4.3rem);
                display: flex;
                align-items: center;
                flex-shrink: 0;
                margin-right: 4.3rem;
                box-sizing: border-box;
                padding: 0.479rem 0rem 0.479rem 0.939rem;

                .interface-check-Mfm {
                  height: 1.3284rem;
                  object-fit: contain;
                  vertical-align: top;
                  flex-shrink: 0;
                  margin: 0rem 2.391rem 0rem 0rem;
                  width: 1.9926rem;
                }
                .dedicated-support-HJX {
                  font-family: B612, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                  text-align: center;
                  font-size: 2.3rem;
                  font-weight: 400;
                  line-height: 1.2000000166;
                  color: #000000;
                }
              }
            }
          }
        }
        .frame-161-onf {
          flex-shrink: 0;
          margin: 0rem 0.258rem 0rem 0.258rem;
          box-sizing: border-box;
          width: calc(100% - 0.5152rem);
          display: flex;
          border: solid 0.1rem #0f202b;
          padding: 2.044rem 7.238rem 2.044rem 6.142rem;
          align-items: center;
          border-radius: 1rem;

          .join-course-plan-84F {
            font-weight: 400;
            white-space: nowrap;
            margin-right: 2.6614rem;
            text-align: center;
            font-size: 2.3rem;
            line-height: 1.2000000166;
            color: #0f202b;
            font-family: B612, 'Source Sans Pro';
            flex-shrink: 0;
          }
          .arrow-arrowleftsm-e2b {
            flex-shrink: 0;
            margin-bottom: 0rem;
            width: 1.5656rem;
            height: 1.2524rem;
            position: relative;
            object-fit: contain;
            vertical-align: top;
          }
        }
      }
      .frame-164-ujD {
        box-shadow: 0 0.4rem 0.8rem rgba(0, 0, 0, 0.1000000015);
        background-color: #ffffff;
        flex-shrink: 0;
        margin-right: 3.2rem;
        padding: 3.757rem 5.01rem 3.757rem 5.01rem;
        height: 100%;
        flex-direction: column;
        border: solid 0.2rem #1cd15d;
        box-sizing: border-box;
        width: 46.5424rem;
        align-items: center;
        display: flex;

        .frame-165-prB {
          align-items: center;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          margin-bottom: 5.0098rem;
          width: 100%;

          .auto-group-tmj3-Nco {
            box-sizing: border-box;
            padding: 0rem 2.898rem 3.757rem 2.898rem;
            width: 100%;
            align-items: center;
            display: flex;
            flex-direction: column;
            flex-shrink: 0;

            .frame-162-ucj {
              margin: 0rem 2.839rem 2.505rem 2.839rem;
              width: calc(100% - 5.6774rem);
              align-items: center;
              display: flex;
              flex-direction: column;
              flex-shrink: 0;

              .standard-plan-eKR {
                font-weight: 700;
                white-space: nowrap;
                flex-shrink: 0;
                margin: 0rem 0rem 1.252rem 0rem;
                font-size: 2.3rem;
                color: #000000;
                font-family: B612, 'Source Sans Pro';
                text-align: center;
                line-height: 1.2000000166;
              }
              .frame-164-xqu {
                color: #ffffff;
                background-color: #1cd15d;
                width: 100%;
                font-weight: 400;
                justify-content: center;
                white-space: nowrap;
                display: flex;
                flex-shrink: 0;
                height: 3.1524rem;
                text-align: center;
                font-size: 1.6rem;
                line-height: 1.2000000477;
                font-family: B612, 'Source Sans Pro';
                align-items: center;
              }
            }
            .frame-155-Grb {
              display: flex;
              align-items: center;
              flex-shrink: 0;
              width: 100%;

              .item-2000-qeo {
                font-size: 4rem;
                font-family: B612, 'Source Sans Pro';
                margin-right: 0.6262rem;
                text-align: center;
                font-weight: 700;
                line-height: 1.2;
                color: #1cd15d;
                white-space: nowrap;
                flex-shrink: 0;
              }
              .monthly-xzK {
                text-align: center;
                font-size: 3.3rem;
                font-weight: 700;
                line-height: 1.2000000694;
                color: #1cd15d;
                font-family: B612, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
              }
            }
          }
          .frame-156-JYP {
            width: 100%;
            display: flex;
            flex-direction: column;
            flex-shrink: 0;

            .frame-157-fdq {
              width: calc(100% - 10.8rem);
              height: 4.6787rem;
              display: flex;
              align-items: center;
              flex-shrink: 0;
              margin: 0rem 10.8rem 3.426rem 0rem;
              box-sizing: border-box;
              padding-left: 0.9394rem;

              .interface-check-C7y {
                margin: 0.921rem 2.391rem 0rem 0rem;
                width: 1.9926rem;
                height: 1.3284rem;
                object-fit: contain;
                vertical-align: top;
                flex-shrink: 0;
              }
              .personal-therapist-XR9 {
                margin-bottom: 1.8787rem;
                text-align: center;
                font-size: 2.3rem;
                font-family: B612, 'Source Sans Pro';
                font-weight: 400;
                line-height: 1.2000000166;
                color: #000000;
                white-space: nowrap;
                flex-shrink: 0;
              }
            }
            .frame-158-2co {
              box-sizing: border-box;
              padding: 0.479rem 0rem 0.479rem 0.939rem;
              width: 100%;
              display: flex;
              align-items: center;
              flex-shrink: 0;

              .interface-check-a8X {
                object-fit: contain;
                vertical-align: top;
                flex-shrink: 0;
                margin: 0rem 2.391rem 0rem 0rem;
                width: 1.9926rem;
                height: 1.3284rem;
              }
              .certificate-after-completion-6Mm {
                white-space: nowrap;
                flex-shrink: 0;
                text-align: center;
                font-size: 2.3rem;
                font-weight: 400;
                line-height: 1.2000000166;
                color: #000000;
                font-family: B612, 'Source Sans Pro';
              }
            }
            .auto-group-akwh-2WK {
              box-sizing: border-box;
              padding-top: 2.5049rem;
              width: 100%;
              display: flex;
              flex-direction: column;
              flex-shrink: 0;

              .frame-159-aXq {
                margin: 0rem 5.6rem 2.505rem 0rem;
                box-sizing: border-box;
                padding: 0.479rem 0rem 0.479rem 0.939rem;
                width: calc(100% - 5.6rem);
                display: flex;
                align-items: center;
                flex-shrink: 0;

                .interface-check-6m5 {
                  margin: 0rem 2.391rem 0rem 0rem;
                  width: 1.9926rem;
                  height: 1.3284rem;
                  object-fit: contain;
                  vertical-align: top;
                  flex-shrink: 0;
                }
                .high-resolution-videos-S4F {
                  font-weight: 400;
                  line-height: 1.2000000166;
                  color: #000000;
                  font-family: B612, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                  text-align: center;
                  font-size: 2.3rem;
                }
              }
              .frame-160-ZPm {
                flex-shrink: 0;
                margin-right: 4.3rem;
                box-sizing: border-box;
                padding: 0.479rem 0rem 0.479rem 0.939rem;
                width: calc(100% - 4.3rem);
                display: flex;
                align-items: center;

                .interface-check-6Ph {
                  margin: 0rem 2.391rem 0rem 0rem;
                  width: 1.9926rem;
                  height: 1.3284rem;
                  object-fit: contain;
                  vertical-align: top;
                  flex-shrink: 0;
                }
                .dedicated-support-Rwm {
                  line-height: 1.2000000166;
                  color: #000000;
                  font-family: B612, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                  text-align: center;
                  font-size: 2.3rem;
                  font-weight: 400;
                }
              }
            }
          }
        }
        .frame-161-mEw {
          align-items: center;
          padding: 2.044rem 7.238rem 2.044rem 6.142rem;
          display: flex;
          width: calc(100% - 0.5152rem);
          background-color: #1cd15d;
          border-radius: 1rem;
          flex-shrink: 0;
          margin: 0rem 0.258rem 0rem 0.258rem;
          box-sizing: border-box;

          .join-course-plan-HUB {
            font-family: B612, 'Source Sans Pro';
            margin-right: 2.6614rem;
            font-size: 2.3rem;
            color: #ffffff;
            white-space: nowrap;
            flex-shrink: 0;
            text-align: center;
            font-weight: 400;
            line-height: 1.2000000166;
          }
          .arrow-arrowleftsm-d2F {
            flex-shrink: 0;
            margin-bottom: 0rem;
            width: 1.5656rem;
            height: 1.2524rem;
            position: relative;
            object-fit: contain;
            vertical-align: top;
          }
        }
      }
      .frame-165-6Rd {
        box-sizing: border-box;
        padding: 3.757rem 5.01rem 3.757rem 5.01rem;
        align-items: center;
        display: flex;
        flex-direction: column;
        width: 46.5424rem;
        box-shadow: 0 0.4rem 0.8rem rgba(0, 0, 0, 0.1000000015);
        background-color: #ffffff;
        flex-shrink: 0;

        .frame-165-pcX {
          flex-shrink: 0;
          margin-bottom: 5.0098rem;
          width: 100%;
          align-items: center;
          display: flex;
          flex-direction: column;

          .auto-group-p6iz-AgP {
            width: 100%;
            align-items: center;
            display: flex;
            flex-direction: column;
            flex-shrink: 0;
            box-sizing: border-box;
            padding: 0rem 2.898rem 3.757rem 2.898rem;

            .frame-162-7Lj {
              flex-shrink: 0;
              margin: 0rem 2.839rem 2.505rem 2.839rem;
              width: calc(100% - 5.6773rem);
              align-items: center;
              display: flex;
              flex-direction: column;

              .exclusive-plan-3VH {
                margin: 0rem 0rem 1.252rem 0rem;
                font-weight: 700;
                line-height: 1.2000000166;
                font-family: B612, 'Source Sans Pro';
                flex-shrink: 0;
                text-align: center;
                font-size: 2.3rem;
                color: #000000;
                white-space: nowrap;
              }
              .frame-164-xcF {
                text-align: center;
                line-height: 1.2000000477;
                color: #000000;
                align-items: center;
                height: 3.1524rem;
                white-space: nowrap;
                justify-content: center;
                width: 100%;
                font-family: B612, 'Source Sans Pro';
                display: flex;
                background-color: #f8f8f8;
                font-size: 1.6rem;
                font-weight: 400;
                flex-shrink: 0;
              }
            }
            .frame-155-U4o {
              width: 100%;
              display: flex;
              align-items: center;
              flex-shrink: 0;

              .item-3900-dTV {
                margin-right: 0.6262rem;
                font-size: 4rem;
                color: #1cd15d;
                text-align: center;
                font-weight: 700;
                line-height: 1.2;
                font-family: B612, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
              }
              .monthly-ZM9 {
                font-size: 3.3rem;
                font-weight: 700;
                line-height: 1.2000000694;
                color: #1cd15d;
                font-family: B612, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                text-align: center;
              }
            }
          }
          .frame-156-W1V {
            width: 100%;
            display: flex;
            flex-direction: column;
            flex-shrink: 0;

            .frame-157-fQB {
              box-sizing: border-box;
              padding: 0.479rem 0rem 0.479rem 0.939rem;
              width: calc(100% - 10.8rem);
              display: flex;
              align-items: center;
              flex-shrink: 0;
              margin: 0rem 10.8rem 2.505rem 0rem;

              .interface-check-an3 {
                object-fit: contain;
                vertical-align: top;
                flex-shrink: 0;
                margin: 0rem 2.391rem 0rem 0rem;
                width: 1.9926rem;
                height: 1.3284rem;
              }
              .personal-therapist-Wfh {
                font-family: B612, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                text-align: center;
                font-size: 2.3rem;
                font-weight: 400;
                line-height: 1.2000000166;
                color: #000000;
              }
            }
            .frame-158-rjZ {
              width: 100%;
              display: flex;
              align-items: center;
              flex-shrink: 0;
              box-sizing: border-box;
              padding: 0.479rem 0rem 0.479rem 0.939rem;

              .interface-check-QWB {
                margin: 0rem 2.391rem 0rem 0rem;
                width: 1.9926rem;
                height: 1.3284rem;
                object-fit: contain;
                vertical-align: top;
                flex-shrink: 0;
              }
              .certificate-after-completion-k4F {
                flex-shrink: 0;
                text-align: center;
                font-size: 2.3rem;
                font-weight: 400;
                line-height: 1.2000000166;
                color: #000000;
                font-family: B612, 'Source Sans Pro';
                white-space: nowrap;
              }
            }
            .auto-group-b77s-H4B {
              box-sizing: border-box;
              padding-top: 2.5049rem;
              width: 100%;
              display: flex;
              flex-direction: column;
              flex-shrink: 0;

              .frame-159-ddq {
                box-sizing: border-box;
                padding: 0.479rem 0rem 0.479rem 0.939rem;
                width: calc(100% - 5.6rem);
                display: flex;
                align-items: center;
                flex-shrink: 0;
                margin: 0rem 5.6rem 2.505rem 0rem;

                .interface-check-wuR {
                  margin: 0rem 2.391rem 0rem 0rem;
                  width: 1.9926rem;
                  height: 1.3284rem;
                  object-fit: contain;
                  vertical-align: top;
                  flex-shrink: 0;
                }
                .high-resolution-videos-5kj {
                  font-family: B612, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                  text-align: center;
                  font-size: 2.3rem;
                  font-weight: 400;
                  line-height: 1.2000000166;
                  color: #000000;
                }
              }
              .frame-160-E7q {
                flex-shrink: 0;
                margin-right: 4.3rem;
                box-sizing: border-box;
                padding: 0.479rem 0rem 0.479rem 0.939rem;
                width: calc(100% - 4.3rem);
                display: flex;
                align-items: center;

                .interface-check-MiF {
                  margin: 0rem 2.391rem 0rem 0rem;
                  width: 1.9926rem;
                  height: 1.3284rem;
                  object-fit: contain;
                  vertical-align: top;
                  flex-shrink: 0;
                }
                .dedicated-support-VZZ {
                  font-family: B612, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                  text-align: center;
                  font-size: 2.3rem;
                  font-weight: 400;
                  line-height: 1.2000000166;
                  color: #000000;
                }
              }
            }
          }
        }
        .frame-161-DkT {
          width: calc(100% - 0.5151rem);
          align-items: center;
          border: solid 0.1rem #0f202b;
          border-radius: 1rem;
          flex-shrink: 0;
          margin: 0rem 0.258rem 0rem 0.258rem;
          box-sizing: border-box;
          padding: 2.044rem 7.238rem 2.044rem 6.142rem;
          display: flex;

          .join-course-plan-LKH {
            font-family: B612, 'Source Sans Pro';
            margin-right: 2.6615rem;
            font-size: 2.3rem;
            line-height: 1.2000000166;
            color: #0f202b;
            white-space: nowrap;
            flex-shrink: 0;
            text-align: center;
            font-weight: 400;
          }
          .arrow-arrowleftsm-Gij {
            width: 1.5656rem;
            height: 1.2524rem;
            position: relative;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            margin-bottom: 0rem;
          }
        }
      }
    }
  }
}
