
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.macbook-pro-4-sG3 {
  background: linear-gradient(180deg, #183cb6 -0%, #c7005f 100%);
  width: 100%;
  height: 90rem;
  position: relative;
  overflow: hidden;

  .cover-Akw {
    overflow: hidden;
    width: 165.2rem;
    height: 82.6rem;
    position: absolute;
    left: 0;
    top: 18.2rem;

    .vector-VYK {
      height: 110.1333rem;
      position: absolute;
      left: 0;
      top: -13.8438rem;
      object-fit: contain;
      vertical-align: top;
      width: 165.2rem;
    }
    .group-Rgs {
      position: absolute;
      left: 0;
      top: -18.2rem;
      object-fit: contain;
      vertical-align: top;
      width: 257.6702rem;
      height: 153.4444rem;
    }
    .frame-143-AuM {
      position: absolute;
      left: 0;
      top: 2rem;
      display: flex;
      column-gap: 1.6rem;
      align-items: center;
      width: 144rem;
      height: 65.9rem;

      .frame-117-taT {
        width: 46.9rem;
        align-items: center;
        flex-direction: column;
        background-color: #ffffff;
        flex-shrink: 0;
        box-sizing: border-box;
        padding: 1.6rem 1.7rem 12.3rem 1.7rem;
        height: 100%;
        display: flex;
        box-shadow: -0.1rem -0.2rem 1.7rem rgba(0, 0, 0, 0.1000000015);
        border-radius: 1rem;

        .auto-group-hkx9-QYo {
          margin-bottom: 2rem;
          background-size: 100% 100%;
          background-repeat: no-repeat;
          background-position: center;
          background-image: url('REPLACE_IMAGE:70f341f71777f33eade731efacd314f0d73df153');
          border-radius: 0.5rem;
          flex-shrink: 0;
          box-sizing: border-box;
          padding: 9.2rem 17rem 9.2rem 16.9rem;
          width: 100%;
          background-color: rgba(0, 0, 0, 0.349999994);

          .frame-197-XtK {
            width: 9.6rem;
            height: 9.6rem;
            object-fit: contain;
            vertical-align: top;
            border-radius: 6.6667rem;
          }
        }
        .frame-129-CUf {
          width: 39.1rem;
          align-items: center;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          margin-right: 3.8rem;

          .auto-group-nptu-Lqm {
            padding-bottom: 2.4rem;
            width: 100%;
            display: flex;
            flex-direction: column;
            flex-shrink: 0;
            box-sizing: border-box;

            .frame-120-64F {
              margin: 0rem 13.6rem 2.6rem 0rem;
              width: calc(100% - 13.6rem);
              height: 2.3rem;
              display: flex;
              align-items: center;
              flex-shrink: 0;

              .stars-Qqd {
                display: flex;
                align-items: center;
                flex-shrink: 0;
                margin: 0.046rem 1rem 0.046rem 0rem;
                height: calc(100% - 0.093rem);

                .star-jN7 {
                  vertical-align: top;
                  flex-shrink: 0;
                  margin-right: 0.7789rem;
                  width: 2.3368rem;
                  height: 2.207rem;
                  object-fit: contain;
                }
                .star-4fH {
                  margin-right: 0.7789rem;
                  width: 2.3368rem;
                  height: 2.207rem;
                  object-fit: contain;
                  vertical-align: top;
                  flex-shrink: 0;
                }
                .star-ocs {
                  object-fit: contain;
                  vertical-align: top;
                  flex-shrink: 0;
                  margin-right: 0.779rem;
                  width: 2.3368rem;
                  height: 2.207rem;
                }
                .star-kY7 {
                  width: 2.3368rem;
                  height: 2.207rem;
                  object-fit: contain;
                  vertical-align: top;
                  flex-shrink: 0;
                  margin-right: 0.7789rem;
                }
                .star-WGP {
                  height: 2.207rem;
                  object-fit: contain;
                  vertical-align: top;
                  flex-shrink: 0;
                  width: 2.3369rem;
                }
              }
              .reviews-3GK {
                flex-shrink: 0;
                font-size: 1.9rem;
                font-weight: 400;
                line-height: 1.2000000602;
                color: #000000;
                font-family: Abel, 'Source Sans Pro';
                white-space: nowrap;
              }
            }
            .frame-131-N3h {
              width: 25.2rem;
              flex-shrink: 0;

              .frame-130-Kjd {
                margin-bottom: 2.6rem;
                width: 100%;
                display: flex;
                flex-direction: column;

                .social-anxiety-vr-therapy-HAf {
                  margin-bottom: 1.8rem;
                  font-size: 2.3rem;
                  font-weight: 400;
                  line-height: 1.2000000166;
                  color: #000000;
                  font-family: Abel, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                }
                .frame-123-oeo {
                  width: 100%;
                  height: 2.4rem;
                  display: flex;
                  align-items: center;
                  flex-shrink: 0;

                  .frame-121-wm1 {
                    display: flex;
                    align-items: center;
                    flex-shrink: 0;
                    margin-right: 2rem;
                    box-sizing: border-box;
                    padding: 0.25rem 0rem 0.15rem 0.5rem;
                    height: 100%;

                    .file-filedocument-Ek7 {
                      height: 1.8rem;
                      object-fit: contain;
                      vertical-align: top;
                      flex-shrink: 0;
                      margin: 0rem 1.5rem 0.1rem 0rem;
                      width: 1.4rem;
                    }
                    .hour-session-hdh {
                      font-size: 1.6rem;
                      font-weight: 400;
                      line-height: 1.2000000477;
                      color: #000000;
                      font-family: Abel, 'Source Sans Pro';
                      white-space: nowrap;
                      flex-shrink: 0;
                    }
                  }
                  .frame-122-R3u {
                    box-sizing: border-box;
                    padding: 0.25rem 0rem 0.15rem 0.3rem;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    flex-shrink: 0;

                    .user-usersgroup-gkX {
                      position: relative;
                      object-fit: contain;
                      vertical-align: top;
                      flex-shrink: 0;
                      margin-right: 1.3rem;
                      width: 1.8rem;
                      height: 1.5rem;
                    }
                    .patients-cu5 {
                      font-size: 1.6rem;
                      font-weight: 400;
                      line-height: 1.2000000477;
                      color: #000000;
                      font-family: Abel, 'Source Sans Pro';
                      white-space: nowrap;
                      flex-shrink: 0;
                    }
                  }
                }
              }
              .social-anxiety-class-with-vr-Z3d {
                font-size: 1.9rem;
                font-weight: 400;
                line-height: 1.2000000602;
                color: #868585;
                font-family: Abel, 'Source Sans Pro';
                white-space: nowrap;
              }
            }
          }
          .frame-128-HVR {
            align-items: center;
            flex-shrink: 0;
            width: 100%;
            height: 2.8rem;
            display: flex;

            .frame-127-SdD {
              align-items: center;
              flex-shrink: 0;
              margin-right: 18rem;
              height: 100%;
              display: flex;

              .item-150-c1u {
                color: #000000;
                font-family: Abel, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                margin-right: 1.3rem;
                font-size: 2.3rem;
                font-weight: 400;
                line-height: 1.2000000166;
              }
              .item-500-jsD {
                flex-shrink: 0;
                font-size: 2.3rem;
                font-weight: 400;
                line-height: 1.2000000166;
                text-decoration-line: line-through;
                color: #7a7575;
                font-family: Abel, 'Source Sans Pro';
                white-space: nowrap;
              }
            }
            .frame-126-5AP {
              display: flex;
              align-items: center;
              flex-shrink: 0;
              margin: 0.2rem 0;
              box-sizing: border-box;
              padding: 0.25rem 0.7rem 0.15rem 0rem;
              height: calc(100% - 0.4rem);

              .learn-more-nqV {
                color: #000000;
                font-family: Abel, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                margin-right: 1.7rem;
                font-size: 1.6rem;
                font-weight: 400;
                line-height: 1.2000000477;
              }
              .arrow-arrowuprightmd-L6K {
                vertical-align: top;
                flex-shrink: 0;
                margin-bottom: 0.1rem;
                width: 1rem;
                height: 1rem;
                object-fit: contain;
              }
            }
          }
        }
      }
      .frame-118-PaP {
        width: 47rem;
        height: 100%;
        align-items: center;
        box-shadow: -0.1rem -0.2rem 1.7rem rgba(0, 0, 0, 0.1000000015);
        background-color: #ffffff;
        border-radius: 1rem;
        box-sizing: border-box;
        padding: 1.6rem 1.75rem 12.3rem 1.75rem;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;

        .auto-group-bueh-82B {
          flex-shrink: 0;
          padding: 9.2rem 17.05rem 9.2rem 16.85rem;
          background-image: url('REPLACE_IMAGE:15222fb12cb878440495c4eeffb7eabdcb9c0ba2');
          width: 100%;
          background-color: rgba(0, 0, 0, 0.349999994);
          background-size: 100% 100%;
          background-repeat: no-repeat;
          background-position: center;
          margin-bottom: 2rem;
          box-sizing: border-box;

          .frame-197-399 {
            vertical-align: top;
            border-radius: 6.6667rem;
            width: 9.6rem;
            height: 9.6rem;
            object-fit: contain;
          }
        }
        .frame-129-jnf {
          margin-right: 3.9rem;
          width: 37.9rem;
          align-items: center;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;

          .auto-group-fpmf-67R {
            box-sizing: border-box;
            padding-bottom: 2.4rem;
            width: 100%;
            display: flex;
            flex-direction: column;
            flex-shrink: 0;

            .frame-120-EjR {
              margin: 0rem 12.4rem 2.6rem 0rem;
              width: calc(100% - 12.4rem);
              height: 2.3rem;
              display: flex;
              align-items: center;
              flex-shrink: 0;

              .stars-yBD {
                flex-shrink: 0;
                margin: 0.046rem 1rem 0.046rem 0rem;
                height: calc(100% - 0.093rem);
                display: flex;
                align-items: center;

                .star-WB9 {
                  width: 2.3368rem;
                  height: 2.207rem;
                  object-fit: contain;
                  vertical-align: top;
                  flex-shrink: 0;
                  margin-right: 0.7789rem;
                }
                .star-3gs {
                  margin-right: 0.7789rem;
                  width: 2.3368rem;
                  height: 2.207rem;
                  object-fit: contain;
                  vertical-align: top;
                  flex-shrink: 0;
                }
                .star-Pkj {
                  margin-right: 0.779rem;
                  width: 2.3368rem;
                  height: 2.207rem;
                  object-fit: contain;
                  vertical-align: top;
                  flex-shrink: 0;
                }
                .star-vkf {
                  width: 2.3368rem;
                  height: 2.207rem;
                  object-fit: contain;
                  vertical-align: top;
                  flex-shrink: 0;
                  margin-right: 0.7789rem;
                }
                .star-GpX {
                  width: 2.3369rem;
                  height: 2.207rem;
                  object-fit: contain;
                  vertical-align: top;
                  flex-shrink: 0;
                }
              }
              .reviews-231 {
                line-height: 1.2000000602;
                color: #000000;
                font-family: Abel, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                font-size: 1.9rem;
                font-weight: 400;
              }
            }
            .frame-131-xST {
              display: flex;
              flex-direction: column;
              flex-shrink: 0;

              .frame-130-vPH {
                margin-bottom: 2.6rem;
                width: 24.1rem;
                flex-shrink: 0;

                .ocd-vr-therapy-spK {
                  line-height: 1.2000000166;
                  color: #000000;
                  font-family: Abel, 'Source Sans Pro';
                  white-space: nowrap;
                  margin-bottom: 1.8rem;
                  font-size: 2.3rem;
                  font-weight: 400;
                }
                .frame-123-bEX {
                  width: 100%;
                  height: 2.4rem;
                  display: flex;
                  align-items: center;

                  .frame-121-YQf {
                    margin-right: 2rem;
                    box-sizing: border-box;
                    padding: 0.25rem 0rem 0.15rem 0.5rem;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    flex-shrink: 0;

                    .file-filedocument-5Qb {
                      margin: 0rem 1.5rem 0.1rem 0rem;
                      width: 1.4rem;
                      height: 1.8rem;
                      object-fit: contain;
                      vertical-align: top;
                      flex-shrink: 0;
                    }
                    .hour-sesion-QBy {
                      flex-shrink: 0;
                      font-size: 1.6rem;
                      font-weight: 400;
                      line-height: 1.2000000477;
                      color: #000000;
                      font-family: Abel, 'Source Sans Pro';
                      white-space: nowrap;
                    }
                  }
                  .frame-122-jk3 {
                    align-items: center;
                    flex-shrink: 0;
                    box-sizing: border-box;
                    padding: 0.25rem 0rem 0.15rem 0.3rem;
                    height: 100%;
                    display: flex;

                    .user-usersgroup-USj {
                      object-fit: contain;
                      vertical-align: top;
                      flex-shrink: 0;
                      margin-right: 1.3rem;
                      width: 1.8rem;
                      height: 1.5rem;
                      position: relative;
                    }
                    .patient-oju {
                      color: #000000;
                      font-family: Abel, 'Source Sans Pro';
                      white-space: nowrap;
                      flex-shrink: 0;
                      font-size: 1.6rem;
                      font-weight: 400;
                      line-height: 1.2000000477;
                    }
                  }
                }
              }
              .remove-your-ocd-problem-with-vr-8XH {
                color: #868585;
                font-family: Abel, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                font-size: 1.9rem;
                font-weight: 400;
                line-height: 1.2000000602;
              }
            }
          }
          .frame-128-GNb {
            flex-shrink: 0;
            width: 100%;
            height: 2.8rem;
            display: flex;
            align-items: center;

            .frame-127-puu {
              margin-right: 18rem;
              height: 100%;
              display: flex;
              align-items: center;
              flex-shrink: 0;

              .item-60-PTD {
                font-size: 2.3rem;
                font-weight: 400;
                line-height: 1.2000000166;
                color: #000000;
                font-family: Abel, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                margin-right: 1.3rem;
              }
              .item-120-XJX {
                font-family: Abel, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                font-size: 2.3rem;
                font-weight: 400;
                line-height: 1.2000000166;
                text-decoration-line: line-through;
                color: #7a7575;
              }
            }
            .frame-126-s7V {
              flex-shrink: 0;
              margin: 0.2rem 0;
              box-sizing: border-box;
              padding: 0.25rem 0.7rem 0.15rem 0rem;
              height: calc(100% - 0.4rem);
              display: flex;
              align-items: center;

              .learn-more-PrX {
                color: #000000;
                font-family: Abel, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                margin-right: 1.7rem;
                font-size: 1.6rem;
                font-weight: 400;
                line-height: 1.2000000477;
              }
              .arrow-arrowuprightmd-jfV {
                margin-bottom: 0.1rem;
                width: 1rem;
                height: 1rem;
                object-fit: contain;
                vertical-align: top;
                flex-shrink: 0;
              }
            }
          }
        }
      }
      .frame-119-RHR {
        padding: 1.6rem 1.7rem 12.3rem 1.7rem;
        height: 100%;
        align-items: center;
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
        box-shadow: -0.1rem -0.2rem 1.7rem rgba(0, 0, 0, 0.1000000015);
        background-color: #ffffff;
        border-radius: 1rem;
        flex-shrink: 0;
        width: 46.9rem;

        .auto-group-w4vj-9DR {
          border-radius: 0.5rem;
          box-sizing: border-box;
          padding: 9.2rem 16.9rem 9.2rem 17rem;
          background-size: 100% 100%;
          background-repeat: no-repeat;
          background-position: center;
          margin-bottom: 2rem;
          width: 100%;
          background-color: rgba(0, 0, 0, 0.349999994);
          background-image: url('REPLACE_IMAGE:3f7bda8d06f4048922622624095a3e0b39026045');
          flex-shrink: 0;

          .frame-197-4rB {
            vertical-align: top;
            border-radius: 6.6667rem;
            width: 9.6rem;
            height: 9.6rem;
            object-fit: contain;
          }
        }
        .frame-129-yTM {
          flex-direction: column;
          flex-shrink: 0;
          margin-right: 3.5rem;
          width: 38.4rem;
          align-items: center;
          display: flex;

          .auto-group-gmuw-85M {
            display: flex;
            flex-direction: column;
            flex-shrink: 0;
            box-sizing: border-box;
            padding-bottom: 2.4rem;
            width: 100%;

            .frame-120-5FV {
              display: flex;
              align-items: center;
              flex-shrink: 0;
              margin: 0rem 12.9rem 2.6rem 0rem;
              width: calc(100% - 12.9rem);
              height: 2.3rem;

              .stars-bjd {
                margin: 0.046rem 1rem 0.046rem 0rem;
                height: calc(100% - 0.093rem);
                display: flex;
                align-items: center;
                flex-shrink: 0;

                .star-XNP {
                  vertical-align: top;
                  flex-shrink: 0;
                  margin-right: 0.7789rem;
                  width: 2.3368rem;
                  height: 2.207rem;
                  object-fit: contain;
                }
                .star-UYX {
                  margin-right: 0.7789rem;
                  width: 2.3368rem;
                  height: 2.207rem;
                  object-fit: contain;
                  vertical-align: top;
                  flex-shrink: 0;
                }
                .star-dAX {
                  margin-right: 0.779rem;
                  width: 2.3368rem;
                  height: 2.207rem;
                  object-fit: contain;
                  vertical-align: top;
                  flex-shrink: 0;
                }
                .star-xyV {
                  margin-right: 0.7789rem;
                  width: 2.3368rem;
                  height: 2.207rem;
                  object-fit: contain;
                  vertical-align: top;
                  flex-shrink: 0;
                }
                .star-JXZ {
                  width: 2.3369rem;
                  height: 2.207rem;
                  object-fit: contain;
                  vertical-align: top;
                  flex-shrink: 0;
                }
              }
              .reviews-T9Z {
                line-height: 1.2000000602;
                color: #000000;
                font-family: Abel, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                font-size: 1.9rem;
                font-weight: 400;
              }
            }
            .frame-131-bFm {
              display: flex;
              flex-direction: column;
              flex-shrink: 0;

              .frame-130-keT {
                flex-shrink: 0;
                margin-bottom: 2.6rem;
                width: 25.2rem;

                .public-speaking-therapy-Jvs {
                  font-weight: 400;
                  line-height: 1.2000000166;
                  color: #000000;
                  font-family: Abel, 'Source Sans Pro';
                  white-space: nowrap;
                  margin-bottom: 1.8rem;
                  font-size: 2.3rem;
                }
                .frame-123-qA7 {
                  width: 100%;
                  height: 2.4rem;
                  display: flex;
                  align-items: center;

                  .frame-121-Bzf {
                    box-sizing: border-box;
                    padding: 0.25rem 0rem 0.15rem 0.5rem;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    flex-shrink: 0;
                    margin-right: 2rem;

                    .file-filedocument-XYj {
                      height: 1.8rem;
                      object-fit: contain;
                      vertical-align: top;
                      flex-shrink: 0;
                      margin: 0rem 1.5rem 0.1rem 0rem;
                      width: 1.4rem;
                    }
                    .hour-session-rqu {
                      font-family: Abel, 'Source Sans Pro';
                      white-space: nowrap;
                      flex-shrink: 0;
                      font-size: 1.6rem;
                      font-weight: 400;
                      line-height: 1.2000000477;
                      color: #000000;
                    }
                  }
                  .frame-122-nzT {
                    box-sizing: border-box;
                    padding: 0.25rem 0rem 0.15rem 0.3rem;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    flex-shrink: 0;

                    .user-usersgroup-LWB {
                      position: relative;
                      object-fit: contain;
                      vertical-align: top;
                      flex-shrink: 0;
                      margin-right: 1.3rem;
                      width: 1.8rem;
                      height: 1.5rem;
                    }
                    .patients-sFD {
                      flex-shrink: 0;
                      font-size: 1.6rem;
                      font-weight: 400;
                      line-height: 1.2000000477;
                      color: #000000;
                      font-family: Abel, 'Source Sans Pro';
                      white-space: nowrap;
                    }
                  }
                }
              }
              .be-confident-in-front-of-public-using-vr-therapy-16X {
                font-size: 1.9rem;
                font-weight: 400;
                line-height: 1.2000000602;
                color: #868585;
                font-family: Abel, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
              }
            }
          }
          .frame-128-j2X {
            width: 100%;
            height: 2.8rem;
            display: flex;
            align-items: center;
            flex-shrink: 0;

            .frame-127-suR {
              margin-right: 18.5rem;
              height: 100%;
              display: flex;
              align-items: center;
              flex-shrink: 0;

              .item-60-3J7 {
                margin-right: 1.3rem;
                font-size: 2.3rem;
                font-weight: 400;
                line-height: 1.2000000166;
                color: #000000;
                font-family: Abel, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
              }
              .item-120-aYw {
                font-size: 2.3rem;
                font-weight: 400;
                line-height: 1.2000000166;
                text-decoration-line: line-through;
                color: #7a7575;
                font-family: Abel, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
              }
            }
            .frame-126-owV {
              display: flex;
              align-items: center;
              flex-shrink: 0;
              margin: 0.2rem 0;
              box-sizing: border-box;
              padding: 0.25rem 0.7rem 0.15rem 0rem;
              height: calc(100% - 0.4rem);

              .learn-more-LgX {
                margin-right: 1.7rem;
                font-size: 1.6rem;
                font-weight: 400;
                line-height: 1.2000000477;
                color: #000000;
                font-family: Abel, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
              }
              .arrow-arrowuprightmd-Unj {
                margin-bottom: 0.1rem;
                width: 1rem;
                height: 1rem;
                object-fit: contain;
                vertical-align: top;
                flex-shrink: 0;
              }
            }
          }
        }
      }
    }
  }
  .vector-kVM {
    object-fit: contain;
    vertical-align: top;
    width: 75.4752rem;
    height: 75.4752rem;
    position: absolute;
    left: 114.9882rem;
    top: 54.9882rem;
  }
  .vector-tLf {
    object-fit: contain;
    vertical-align: top;
    width: 81.785rem;
    height: 81.785rem;
    position: absolute;
    left: 41.5168rem;
    top: 75.2615rem;
  }
  .vector-1w5 {
    object-fit: contain;
    vertical-align: top;
    width: 89.9rem;
    height: 89.9rem;
    position: absolute;
    left: 119.6rem;
    top: 0;
  }
  .rectangle-2-AJB {
    width: 2.8rem;
    height: 2.8rem;
    position: absolute;
    left: 29.9rem;
    top: 83.5rem;
    object-fit: contain;
    vertical-align: top;
    border-radius: 0.3rem;
  }
  .our-services-5g3 {
    left: 62.1rem;
    top: 5.7rem;
    font-size: 4.8rem;
    font-weight: 400;
    line-height: 1.2000000477;
    white-space: nowrap;
    position: absolute;
    height: 5.8rem;
    color: #ffffff;
    font-family: Abel, 'Source Sans Pro';
    width: 22.9rem;
  }
}
