
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.macbook-pro-5-QHV {
  width: 100%;
  height: 90rem;
  position: relative;
  overflow: hidden;
  background: linear-gradient(180deg, #183cb6 -0%, #c7005f 100%);
}
.macbook-pro-5-QHV .rectangle-1-Xd1 {
  width: 130.5033rem;
  height: 139.9932rem;
  position: absolute;
  left: 0;
  top: 0;
  object-fit: contain;
  vertical-align: top;
}
.macbook-pro-5-QHV .vector-fUK {
  width: 75.4752rem;
  height: 75.4752rem;
  position: absolute;
  left: 114.9883rem;
  top: 54.9882rem;
  object-fit: contain;
  vertical-align: top;
}
.macbook-pro-5-QHV .vector-oKd {
  width: 81.785rem;
  height: 81.785rem;
  position: absolute;
  left: 41.5168rem;
  top: 75.2615rem;
  object-fit: contain;
  vertical-align: top;
}
.macbook-pro-5-QHV .vector-YHD {
  width: 89.9rem;
  height: 89.9rem;
  position: absolute;
  left: 119.6rem;
  top: 0;
  object-fit: contain;
  vertical-align: top;
}
.macbook-pro-5-QHV .rectangle-2-VCT {
  width: 2.8rem;
  height: 2.8rem;
  position: absolute;
  left: 29.9rem;
  top: 83.5rem;
  object-fit: contain;
  vertical-align: top;
  border-radius: 0.3rem;
}
.macbook-pro-5-QHV .group-47483-1wV {
  width: 24.9352rem;
  height: 19.1589rem;
  position: absolute;
  left: 58.5rem;
  top: 20.7rem;
}
.macbook-pro-5-QHV .group-47483-1wV .get-in-touch-Lis {
  width: 24.6rem;
  height: 18.8rem;
  position: absolute;
  left: 0.3352rem;
  top: 0.3589rem;
  text-align: center;
  font-size: 7.2rem;
  font-weight: 700;
  line-height: 1.2999999788;
  font-family: Fahkwang, 'Source Sans Pro';
}
.macbook-pro-5-QHV .group-47483-1wV .get-in-touch-37V {
  width: 24.6rem;
  height: 18.8rem;
  position: absolute;
  left: 0;
  top: 0;
  text-align: center;
  font-size: 7.2rem;
  font-weight: 700;
  line-height: 1.2999999788;
  color: #ffffff;
  font-family: Fahkwang, 'Source Sans Pro';
}
.macbook-pro-5-QHV .frame-1000001319-9wD {
  width: 71.6rem;
  height: 17.8rem;
  position: absolute;
  left: 36.15rem;
  top: 47.8rem;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.macbook-pro-5-QHV .frame-1000001319-9wD .frame-1000001318-5Zy {
  margin-bottom: 4.8rem;
  box-sizing: border-box;
  padding: 2.4rem;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: #0d0d2d;
  border-radius: 1.6rem;
  flex-shrink: 0;
}
.macbook-pro-5-QHV .frame-1000001319-9wD .frame-1000001318-5Zy .enter-your-email-address-pnT {
  margin: 0.1rem 36.3rem 0rem 0rem;
  font-size: 2.2rem;
  font-weight: 400;
  line-height: 1.1849999861;
  color: rgba(255, 255, 255, 0.5600000024);
  font-family: Fahkwang, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.macbook-pro-5-QHV .frame-1000001319-9wD .frame-1000001318-5Zy .alternateemail-vab {
  width: 2.8rem;
  height: 2.8rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.macbook-pro-5-QHV .frame-1000001319-9wD .frame-115-pvs {
  margin: 0 26.65rem;
  width: calc(100% - 53.3rem);
  height: 5.4rem;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.5;
  color: #ffffff;
  font-family: B612, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0.9rem 10rem rgba(208, 17, 204, 0.349999994);
  background: linear-gradient(283.84deg, #df1bff 125.59%, #e90070 238%);
  border-radius: 0.8rem;
  flex-shrink: 0;
}
